@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.text_1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: italic;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  background: url(/img/background_images/background__lines.png);
}

.header {
  border-bottom: 1px solid #ededed;
  max-height: 179px;
}
.header__inner {
  text-align: center;
  margin: 25px 0 30px 0;
}
.header__icon {
  margin-bottom: 7px;
}
.header__mainText {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 800;
}
.header__nav {
  max-width: 656px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}
.header__navItem {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.header__navItem a {
  color: #000 !important;
  text-decoration: none;
}

.heading__inner {
  margin-top: 100px;
}
.heading__row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.heading__title {
  display: flex;
  flex-flow: column;
  padding-top: 64px;
}
.heading__smallTitle {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #967675;
}
.heading__titleText {
  font-size: 76px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
.heading__subRow {
  display: flex;
  align-items: center;
}
.heading__alignText {
  font-size: 40px;
  letter-spacing: -6px;
  margin-right: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.heading__alignText span:nth-child(1) {
  vertical-align: super;
}
.heading__alignText span:nth-child(3) {
  vertical-align: sub;
}
.heading__bottom {
  height: 60px;
  width: 185px;
  border: 1px solid #cfadac;
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(150, 79, 76, 0.32);
  margin-top: 40px;
  text-align: center;
}
.heading__bottom:hover {
  box-shadow: 0px 8px 20px silver;
  border-color: silver;
  transition: 1s;
}
.heading__bottomText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #967675;
  line-height: 60px;
}
.heading__images {
  position: relative;
  width: 50%;
  height: 100%;
}
.heading__imageWoman {
  position: absolute;
  top: 0px;
  left: 130px;
  z-index: 21;
}
.heading__imageMan {
  position: absolute;
  top: 150px;
  left: 265px;
  z-index: 20;
}
.heading__imagEllipse {
  position: absolute;
  top: -10px;
  left: -175px;
  z-index: 19;
  opacity: 0.5;
}

.headingList {
  margin-top: 300px;
}
.headingList__row {
  display: flex;
  justify-content: space-between;
}
.headingList__items {
  display: flex;
  flex-direction: column;
  flex: 0 1 300px;
}
.headingList__title {
  font-family: Playfair Display;
  font-style: italic;
  font-size: 38px;
}
.headingList__title::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url(/img/icons/icon_before.png);
  margin: 0 10px 10px 0;
}
.headingList__subtitle {
  font-family: Poppins;
  font-size: 16px;
  color: #9d8888;
  padding-top: 29px;
  padding-left: 60px;
  line-height: 165.9%;
}

.benefits {
  margin-top: 153px;
}
.benefits__row {
  display: flex;
}
.benefits__image {
  max-width: 590px;
  width: 100%;
}
.benefits__item {
  padding-left: 30px;
}
.benefits__smallTitle {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #967675;
}
.benefits__title {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  line-height: 110px;
  font-weight: 600;
}
.benefits__bottom {
  height: 60px;
  width: 185px;
  border: 1px solid #cfadac;
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(150, 79, 76, 0.32);
  margin-top: 40px;
  text-align: center;
}
.benefits__bottom:hover {
  box-shadow: 0px 8px 20px silver;
  border-color: silver;
  transition: 1s;
}
.benefits__bottomText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #967675;
  line-height: 60px;
}

.preview {
  margin-bottom: 173px;
}
.preview__caption {
  margin-top: 200px;
  margin-bottom: 120px;
  text-align: center;
}
.preview__smallCaption {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #967675;
}
.preview__largeCaption {
  font-family: "Playfair Display", serif;
  font-size: 102px;
  line-height: 110px;
  font-weight: 600;
}
.preview__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}
.preview__item {
  background-color: #f6ece8;
  text-align: center;
  flex: 0 1 511px;
}
.preview__item:nth-child(2n) {
  margin-top: 60px;
}
.preview__image {
  max-width: 100%;
  height: auto;
}
.preview__title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 48px;
  line-height: 64px;
  color: #967675;
  margin-top: 18px;
  margin-bottom: 13px;
}
.preview__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 165.9%;
  color: #967675;
  max-width: 362px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.preview__more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  height: 50px;
}
.preview__moreTitle {
  position: relative;
  display: block;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 36.8465px;
  line-height: 49px;
}
.preview__moreBigTitle {
  position: absolute;
  top: -90px;
  opacity: 0.1;
  font-family: "Playfair Display", serif;
  font-size: 180px;
  color: #23242c;
  font-weight: bold;
}
.preview__moreImage {
  position: absolute;
  top: 27px;
}

.quote {
  margin-bottom: 97px;
}
.quote__row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  height: 518px;
}
.quote__title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  color: #23242c;
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}
.quote__image {
  position: absolute;
  z-index: 0;
}

.contact__inner {
  background-color: #f9f2ef;
}
.contact__subtitle {
  padding-top: 68px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #967675;
}
.contact__title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 102px;
  line-height: 110px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 90px;
}
.contact__input {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  align-items: center;
}
.contact__form {
  max-width: 738px;
  width: 100%;
  border-bottom: 1px solid rgba(150, 118, 117, 0.5);
  margin-right: 30px;
}
.contact__email {
  max-width: 738px;
  width: 100%;
  background-color: #f9f2ef;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 42px;
  color: #dccbc6;
  font-weight: 300;
  padding-left: 13px;
}
.contact__submit {
  height: 60px;
  width: 185px;
  border: 1px solid #cfadac;
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(150, 79, 76, 0.32);
  background-color: #ffffff;
  text-align: center;
}
.contact__submitText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 60px;
  color: #967675;
}

.footer__inner {
  background-color: #23242c;
}
.footer__row {
  display: flex;
  padding-top: 140px;
  padding-bottom: 130px;
  justify-content: space-between;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.footer__title {
  font-family: "Playfair Display", serif;
  font-size: 23px;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.footer__title::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url(/img/icons/icon_before.png);
  margin: 0 10px 4px 0;
}
.footer__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: white;
  max-width: 303px;
  margin-bottom: 122px;
  padding-left: 19px;
}
.footer__infoCopyright {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: white;
  opacity: 0.5;
  font-weight: normal;
  padding-left: 19px;
}
.footer__nav {
  display: flex;
}
.footer__navItem {
  max-width: 206;
  padding-right: 90px;
}
.footer__navTitle {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-bottom: 13px;
}
.footer__navTitle::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url(/img/icons/icon_before.png);
  margin: 0 10px 4px 0;
}
.footer__navLinks {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: white;
  padding-left: 20px;
}
.footer__navlink {
  margin-bottom: 10px;
}
.footer__navLinks a {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .heading__title {
    padding-left: 15px;
    max-width: 500px;
    width: 100%;
  }
  .heading__titleText {
    font-size: 66px;
  }
  .heading__alignText {
    font-size: 33px;
  }
  .heading__imageWoman {
    left: 0px;
  }
  .heading__imageMan {
    left: 135px;
  }

  .headingList {
    margin-top: 270px;
    padding: 0 15px;
  }

  .benefits {
    margin-top: 153px;
  }
  .benefits__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits__item {
    padding: 0;
  }
  .benefits__smallTitle {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
  }
  .benefits__title {
    font-size: 90px;
    text-align: center;
  }
  .benefits__bottom {
    height: 60px;
    max-width: 185px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .preview__caption {
    margin-top: 170px;
    margin-bottom: 90px;
  }
  .preview__row {
    display: block;
  }
  .preview__item {
    background-color: #f6ece8;
    text-align: center;
    padding-top: 20px;
  }
  .preview__item:nth-child(2n) {
    margin-top: 0px;
  }
  .preview__image {
    width: 100%;
  }
  .preview__subtitle {
    margin: 0 auto;
  }

  .contact__input {
    padding: 0 30px;
    padding-bottom: 50px;
  }

  .footer__navItem {
    padding-right: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .heading__alignText {
    display: none;
  }
  .heading__imageWoman {
    position: static;
    padding-right: 15px;
  }
  .heading__imageMan {
    display: none;
  }
  .heading__imagEllipse {
    position: absolute;
    z-index: -1;
  }

  .headingList {
    margin-top: 140px;
    padding: 0 15px;
  }

  .footer__row {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer__title {
    font-size: 20px;
    margin-bottom: 26px;
  }
  .footer__subtitle {
    font-size: 16px;
    margin-bottom: 92px;
  }
  .footer__infoCopyright {
    font-size: 13px;
  }
  .footer__navItem {
    padding-right: 30px;
  }
  .footer__navTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer__navLinks {
    font-size: 14px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 650px) {
  .header__inner {
    margin: 15px 0 15px 0;
  }
  .header__icon {
    margin-bottom: 3px;
  }
  .header__mainText {
    font-size: 35px;
  }
  .header__nav {
    justify-content: center;
    margin-top: 25px;
  }
  .header__navItem {
    font-size: 14px;
    padding-right: 15px;
    line-height: 30px;
  }

  .headingList {
    margin-top: 130px;
    padding: 0 15px;
  }

  .footer__row {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer__title {
    font-size: 20px;
    margin-bottom: 26px;
  }
  .footer__subtitle {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .footer__infoCopyright {
    font-size: 12px;
  }
  .footer__nav {
    display: none;
  }
}
@media only screen and (max-width: 585px) {
  .heading__title {
    padding-top: 0;
  }
  .heading__alignText {
    display: none;
  }
  .heading__imageWoman {
    position: static;
    padding-right: 15px;
  }
  .heading__imageWoman img {
    height: auto;
    max-width: 200px;
  }
  .heading__imageMan {
    display: none;
  }
  .heading__imagEllipse {
    position: absolute;
    z-index: -1;
  }

  .headingList {
    margin-top: 120px;
    padding: 0 15px;
  }
  .headingList__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .headingList__items {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
  }
  .headingList__title {
    font-family: Playfair Display;
    font-style: italic;
    font-size: 38px;
  }
  .headingList__title::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url(/img/icons/icon_before.png);
    margin: 0 10px 10px 0;
  }
  .headingList__subtitle {
    font-family: Poppins;
    font-size: 16px;
    color: #9d8888;
    padding-top: 20px;
    padding-left: 60px;
    line-height: 165.9%;
    margin-bottom: 20px;
  }

  .benefits {
    margin-top: 100px;
  }
  .benefits__image img {
    width: 100%;
  }
  .benefits__item {
    padding: 0;
  }
  .benefits__smallTitle {
    font-size: 20px;
  }
  .benefits__title {
    font-size: 60px;
    line-height: 77px;
  }

  .preview__largeCaption {
    font-size: 60px;
  }
  .preview__caption {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .preview__row {
    display: block;
  }
  .preview__item {
    background-color: #f6ece8;
    text-align: center;
    padding-top: 20px;
  }
  .preview__image img {
    width: 100%;
  }
  .preview__subtitle {
    margin: 0 auto;
  }

  .contact__input {
    padding: 0 30px;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  .contact__form {
    margin-bottom: 30px;
  }
  .contact__title {
    font-size: 80px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .heading__title {
    padding-top: 0;
  }
  .heading__titleText {
    font-size: 40px;
  }
  .heading__imageWoman img {
    height: auto;
    max-width: 190px;
  }
  .heading__bottom {
    width: 145px;
  }

  .benefits__title {
    font-size: 40px;
    line-height: 50px;
  }

  .quote {
    margin-bottom: 30px;
  }

  .preview {
    margin-bottom: 80px;
  }
  .preview__moreBigTitle {
    font-size: 130px;
    top: -57px;
  }

  .contact__title {
    font-size: 67px;
  }
}